<%- include('head') %>
<%- include('header') %>    
<%- include('left_nav') %>

<div class="col-md-10" style="padding-top:20px">
    <h1>Helpdesk</h1>
    
    <hr />

    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalRaiseTicket">Raise Ticket</button>

    <!-- Modal -->
    <div id="modalRaiseTicket" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Raise Support Ticket</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/helpdesk/ticket" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="category_id">Category</label>
                            <div class="col-sm-10">
                            <select class="form-control" name="category_id" id="category_id">
                                <% for(var k in categories){ %>
                                    <option value="<%= k %>"><%= categories[k]['category_name'] %></option>
                                <% } %>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="subject">Subject</label>
                            <div class="col-sm-10"> 
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="message">Message</label>
                            <div class="col-sm-10"> 
                                <textarea class="form-control" rows="5" id="message" name="message"></textarea>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <hr />

    <h2>Raised Tickets</h2>
    
    <br>

    <table class="table">
        <tr>
            <th>Ticket Number</th>
            <th>Category</th>
            <th>Subject</th>
            <th>Time</th>
            <th>status</th>
            <th>Details</th>
        </tr>

        <% tickets.forEach(function(ticket){ %>
            <tr>
                <td><%= ticket.ticket_id %></td>
                <td><%= categories[ticket.category_id].category_name %></td>
                <td><%= ticket.subject %></td>
                <td><%= ticket.created %></td>
                <td><%= ticket.status %></td>
                <td><a href="/helpdesk/ticket/<%= ticket.ticket_id %>">Details</a></td>
            </tr>
        <% }) %>

    </table>

</div>


<%- include('footer') %>
