<%- include('head') %>
<%- include('header') %>    
<%- include('left_nav') %>

<div class="col-md-10" style="padding-top:20px">
    
    <h1>Helpdesk</h1>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <h3>Ticket Details</h3>
            <hr />
            <p><b>Ticket Number</b></p>
            <p><%= ticket.ticket_id %></p>
            <p><b>Created</b></p>
            <p><%= ticket.created %></p>
            <p><b>Status</b></p>
            <p><%= ticket.status %></p>
            <p><b>Message</b></p>
            <p><%= ticket.message %></p>
            <br>
            <p><a class="btn btn-success" href="/helpdesk/ticket/<%= ticket.ticket_id %>/close">Close Ticket</a></p>
        </div>
        <div class="col-md-6">
            <h3>Comments</h3>
            <hr />
            <% if(comments) {
                comments.forEach(function(comment){ %>
                    <% if(comment.user_id){ %>
                        <p><b>You</b></p>
                    <% } else { %>
                        <p><b>Admin</b></p>
                    <% } %>       
                    <p><%= comment.comment %></p>
            <% }) } %>
            <hr />
            <form action="/helpdesk/ticket/comments" method="POST">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="3" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
                <input type="hidden" name="ticket_id" value="<%= ticket.ticket_id %>" />
            </form>
        </div>
    </div>   

</div>


<%- include('footer') %>
