<%- include('head') %>
<%- include('header', user) %>
<div class="container" >
    <% if(user) {%>
    <div class="row">
        <div class="col-md-6">
            <%- include('tabs') %>
        </div>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-6" id="divPosts">

          <% if(posts) {
            posts.forEach(function(post){
              post.user_activity_type=false;
          %>
              <%- include('single_post', post); %>
          <% }) } %>  

          <% if(user && activities) {
            activities.forEach(function(post){ %>
              <%- include('single_post', post); %>
          <% }) } %>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
          <a class="btn btn-danger pl-5 pr-5 text-light" id="btnLoadMorePosts" data-offset="2">Load more posts</a>
        </div>
    </div>
</div>
<br>    

<%- include('footer') %>
