<%- include('head') %>
<%- include('header', user) %>
<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <%- include('tabs') %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="divPosts">

          <% if(posts) {
            posts.forEach(function(post){ %>
              <%- include('single_post', post); %>
          <% }) } %>  
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
          <a class="btn btn-danger pl-5 pr-5 text-light" id="btnLoadMorePosts" data-offset="2">Load More</a>
        </div>
    </div>
</div>
<br>    

<%- include('footer') %>
