<div class="media pl-3 pr-3 mt-4 mb-4">
    <div class="media-body">
      <div>
        <% if(user_activity_type) { 
          var type;
          switch(user_activity_type) {
            case "LIKE" :
              type = "liked";
              break;
            case "COMMENT" : 
              type = "commented";
              break;
            case "SHARE" :
              type = "shared";
              break;
          }
        %>
        <h5><a href="<%= app.config.host + '/user/' + ua_username %>" class="text-dark"><%= ua_username %></a> <small><%= type %></small> <a href="<%= app.config.host + '/user/' + username %>" class="text-dark"><%= username %>'s</a> <small>post</small></h5>   
        <hr/>
        <% } else  {%>
        <% if(image) { %>  
        <img src="<%= image %>" alt="John Doe" class="mr-3 rounded-circle float-left" style="width:45px;" />
        <%} else {%>
        <p><i class="fas fa-user-circle fa-3x float-left mr-3"></i>
        <% } %>
        <a href="<%= app.config.host + '/user/' + username %>" class="text-dark" ><h4 class="mb-0"><%= username %></h4></a>
        <span class="text-muted small">Posted <%= new Date(created).toDateString() %></span></p>
        <% } %>
      </div>
      <% if(post_desc) { %>
        <p class="mt-2"><%= post_desc %></p>
      <% } %>
      
      <% if(post_type=="I") { %>
        <p class="<%= post_desc ? 'mt-2' : '' %>"><img class="img-fluid" src="<%= media_path %>"></p>
        <!--<p class="text-right"><a href="<%= app.config.host + '/download?url='+media_path %>">Download</a></p>-->
      <% } %>

      <% if(post_type=="V") { %>
        <p class="embed-responsive embed-responsive-4by3">
            <video controls class="embed-responsive-item">
                <source src="<%= media_path %>" type="video/mp4">
            </video>
        </p>
        <!--<p class="text-right"><a href="<%= app.config.host + '/download?url='+media_path %>">Download</a></p>-->
      <% } %>
      
      <%
        showBorder = post_type=='V' || post_type=='I' || isLoggedIn ? "border-top border-bottom" : "";
      %>

      <div class="d-flex <%= showBorder %>">
        <% if(isLoggedIn) {%>
        <div class="p-2 text-center flex-fill">
          <a style="display: block;" href="<%= app.config.host + '/like/' + post_id %>" class="btnPostLike text-secondary" data-postid="<%= post_id %>" data-likecount="<%= like_count %>"><!--<i class="far fa-thumbs-up text-secondary"></i> -->Like <span class="font-weight-bold text-secondary"><%= like_count %></span></a> 
        </div>
        <div class="p-2 text-center flex-fill">
          <a style="display: block;" href="<%= app.config.host + '/post/' + post_id + '/comments'%>" class="btnPostComment text-secondary" data-postid="<%= post_id %>" data-commentcount="<%= comment_count %>"><!--<i class="far fa-comment-dots text-secondary"></i> -->Comment <span class="font-weight-bold text-secondary"><%= comment_count %></span></a>
        </div>
        <div class="p-2 text-center flex-fill">
          <% if(app.config.isMobile) { 
            var waUrl = "whatsapp://send?text="+encodeURIComponent(app.config.host + '/post/' + post_id);
          %>
            <a style="display: block;" href="<%= waUrl %>" class="text-secondary" ><i class="fab fa-whatsapp-square"></i> Share </a>
          <% } else {%>
            <a style="display: block;" href="<%= app.config.host + '/share/' + post_id %>" class="btnPostShare text-secondary" data-postid="<%= post_id %>" data-sharecount="<%= share_count %>"><!--<i class="far fa-share-square text-secondary"></i> -->Share <span class="font-weight-bold text-secondary"><%= share_count %></span></a>
          <% } %>
        </div>
        <% } %>
        <% if(post_type=="V" || post_type=="I") { %>
        <div class="p-2 text-center flex-fill">
          <a style="display: block;" href="<%= app.config.host + '/download?url='+media_path %>" class="text-secondary"><!--<i class="fas fa-download"></i> -->Download<span class="font-weight-bold text-secondary">&nbsp;</span></a>
        </div>
        <% } %>
      </div>
      <div id="divPostComments_<%= post_id %>" style="display: none;">
          <form action="<%= app.config.host + '/comment' %>" method="post" class="formPostComment">
              <textarea placeholder="Write a comment..." rows="1" class="form-control border-0 formTxtComment" name="comment"></textarea>
              <input type="hidden" value="<%= post_id %>" name="post_id" >
          </form>  
      
      </div>
      
    </div>
</div>
<hr style="border-top: solid 5px #CCC;" >