<%if(offset==0) {%>
<%- include('head') %>
<%- include('header', user) %>
<div class="container" >
    <div class="row">
        <div class="col-md-6 mb-2 bg-light pt-4 pb-4 border-top border-bottom">
            
            <div class="d-flex ">
                <div class=""><img src="https://pbs.twimg.com/media/EVnclLMUwAwCC9Z?format=jpg&name=small" alt="John Doe" class="mr-4 rounded-circle float-left" style="width:100px;">
                    </div>
                <div class="align-self-center">
                    <h3><%= username %></h3>
                    <% if(user) {%>
                    <a href="<%= app.config.host + '/user/' + username + '/sendfriendrequest' %>" class="btn btn-danger" id="btnFriendRequest" data-ops="SEND">Add Friend</a>
                    <% } %>
                </div>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="divPosts">
            <br>
            <% if(posts.length) {
            posts.forEach(function(post){ %>
              <%- include('single_post', post); %>

          <% }) } else { %>
                <h3>No Posts.</h3>
            <%}%>  
            
        </div>
    </div>

    <% if(posts.length) { %>
    <div class="row">
        <div class="col-md-6 text-center">
            <a href="<%= app.config.host + '/user/' + username %>" class="btn btn-danger pl-5 pr-5 text-light" id="btnLoadMoreUserPosts" data-offset="2">Load more posts</a>
        </div>
    </div>
    <% } %>

</div>
<br>    
<%- include('footer') %>
<%} else {%>

    <% if(posts.length) {
        posts.forEach(function(post){ %>
          <%- include('single_post', post); %>
      <% }) } %>  

<%}%>